@font-face {
    font-family: Manrope-extrabold;
    src: url('../styles/manrope-extrabold.otf');
}

@font-face {
    font-family: Manrope-medium;
    src: url('../styles/manrope-medium.otf');
}

* {
    box-sizing: border-box;
}

body{
    background-color: #080c20;
    font-family: 'Manrope-medium';
    color: #fff;
}

.header{
    text-align: center;
    width: 100%;
}
.row{
    width: 100%;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}.contact-form button:hover
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
.section .col-12{
    text-align: center;
}
.content {
    padding: 3rem 0rem;
}

.inner-content{
    padding: 3rem 15rem;
}

.logo{
    padding: 10px 10rem;
}

.description-text{
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    color: #777F98;
}

[class*="title-"] {
    font-family: 'Manrope-extrabold';
}

.title-1{
    font-size: 48px;
    line-height: 56px;
}
.title-2{
    font-size: 40px;
    line-height: 56px;
}
.title-3{
    font-size: 32px;
    line-height: 44px;
}
.title-4{
    font-size: 18px;
    line-height: 25px;
}

.title-5{
    font-size: 24px;
    line-height: 44px;
}

@media only screen and (max-width: 860px) {
    [class*="col-"] {
        float: left;
        padding: 5px;
    }  
    .logo {
        text-align: left;
        padding: 0rem 2rem;
    }
    .section{
        margin-top: 4rem;
    }
}

@media only screen and (max-width: 480px) {
    [class*="col-"] {
        float: inherit;
        padding: 0px;
    } 
    .content{
        width: 100%;
    }
    .logo {
        text-align: center;
    }
    .section{
        margin-top: 3rem;
    }
    .title-1{
        font-size: 38px;
        line-height: 56px;
    }
    .title-2{
        font-size: 30px;
        line-height: 56px;
    }
    .title-3{
        font-size: 22px;
        line-height: 44px;
    }
    .title-4{
        font-size: 18px;
        line-height: 25px;
    }

    .description-text{
        font-size: 15px;
        font-weight: 500;
        line-height: 25px;
        color: #777F98;
    }
}
