@font-face {
    font-family: Manrope;
    src: url('../styles/manrope-regular.otf');
}

* {
    box-sizing: border-box;
}

body{
    background-color: #080c20;
    font-family: 'Manrope';
    color: #fff;
}

.header{
    text-align: center;
    width: 100%;
}
.row{
    width: 100%;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.content {
    padding: 3rem 0rem;
}

.inner-content{
    padding: 3rem 15rem;
}

.logo{
    padding: 10px 10rem;
}

.description-text{
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    color: #777F98;
}

@media only screen and (max-width: 480px) {
        
    .logo {
        text-align: center;
    }
}
